[2015-08-03 13:31] sebastianha opened #1 "Not an issue but I want to show interest"
Hi,

this is not an issue but I just want to let you know that I would love to see your plugin for pimatic fully functional.

Currently, I am using FHEM with cul but I am not very satisfied with it. The problem is that any other home automation software written for nodejs does not really support max thermostats / switches or utilizes the LAN gateway.

So please go on, continue your work – the worl

[2015-08-03 13:31] #1 closed, assigned to nobody

[2015-08-03 20:35] fbeek commented on #1
Hi,

auf Grund der späten Stunde und deines Namens gehe ich mal davon aus das du auch Deutsch verstehst :-D falls nicht bitte ich das zu entschuldigen, dann sag bescheid und ich melde mich auf Englisch.

Erstmal danke für deine Aufbauenden Worte :-)

Ich hatte das gleiche Problem mit FHEM, ich muss sagen ich finde es einfach furchtbar...bei Perl fängt das Problem schon an :-D

Weswegen ich auch mi

[2015-08-04 07:32] sebastianha commented on #1
Hi,

klar, Deutsch geht natürlich auch :)

Das hört sich doch alles sehr gut an! Ich hatte leider noch zu wenig Zeit (wie immer) mich genauer mit PiMatic und den MAX-Geräten zu beschäftigen, aber vielleicht schaff ich es ja irgendwann.

Generell bin ich auch besser mit NodeJS/Javascript (CoffeeScript noch weniger) als mit Perl unterwegs und deswegen gefällt mir das PiMatic-Projekt einfach besser.

[2015-08-06 15:55] fbeek commented on #1
Ja das mit der Zeit ist immer so eine Sache :-D
Deine Module sehen echt gut aus. Kommt das Gehäuse aus einem 3D Drucker oder ist das was fertiges?

[2015-08-06 16:19] sebastianha commented on #1
Das sind eigentlich so Do-It-Yourself USB-Handy-Akkus, die man für 3€ bei Ebay kaufen kann. Insgesamt kommt man auf so 15€ Materialkosten, wenn man alles direkt aus China bestellt.

[2016-03-03 21:57] uli-2016 opened #2 "monitor mode for pimatic-maxcul"
It would be good to have a monitor mode for maxcul. Monitor mode means to watch only the status of the MAX devices and no sends commands

[2016-03-06 19:39] sebastianha opened #3 "How do I use / pair devices"
Could you write some docu how to use your plugin?

I have a shutter contact and several thermostats here and would like to test/use the plugin but I am not able to pair the devices.

Thanks!

[2016-03-06 21:32] fbeek commented on #3
Hey,

yes i am working on it.

I think i will release a new version until the next weekend.

In the mean time you can find here some information: https://forum.pimatic.org/topic/1474/problem-while-installing-plugin-maxcul/12

[2016-03-07 07:58] sebastianha commented on #3
Thanks, I already figured it out. I just listened for the pairing message in the logs and then edited the config.json accordingly.

At least the shutter works now, thanks for the good work!

[2016-03-07 10:20] fbeek commented on #3
Thanks an have fun with it :-)

[2016-03-07 10:20] #3 closed, assigned to nobody

[2016-03-20 11:50] uli-2016 opened #5 "pairing maxcul with heatingthermostat"
*\* I have a problem with pairing / connection to devices **
-> see my maxcul.log:
12:14:37.615 [pimatic-maxcul] debug: got data -> Z1700040013093B000000001001A14D455131343432343638
12:14:37.629 [pimatic-maxcul] debug: decoding Message Z1700040013093B000000001001A14D455131343432343638
12:14:37.638 [pimatic-maxcul] debug: handling PairPing packet
12:14:37.647 [pimatic-maxcul] debug: beginn pairing

[2016-03-20 13:04] fbeek commented on #5
Hello,

for the version that is available that is all correct.
As i said already in the Pimatic forum the ThermoState is not implemented yet.

I am working on it, at the moment you can create the device but there are no functions.
The device can only pair and get the time from the server.

[2016-03-21 18:22] uli-2016 commented on #5
thanks for your info, I can wait for new functions, but I'm interested in.

[2016-04-10 18:44] fbeek commented on #5
Fixed in 0.2.5

[2016-04-10 18:44] #5 closed, assigned to fbeek

[2016-04-25 19:40] sebastianha opened #7 "Pairing does not work?"
Hi,

I just updated the plugin to the latest version and tried to pair my thermostat. I enabled pairing mode in my config and I added the thermostat as shown in the readme.

When I reset my thermostat and run the installation process I get the following in the logs:

[code]

But then I do not receive any more message and I cannot control the thermostat. Also at the thermostat the antenna icon does

[2016-04-25 20:16] fbeek commented on #7
Hi,

on first look everything looks fine.
Can you send me a copy of your plugin ans device config?

Does the thermostat later requests time informations from the server?

Eventualy there is a problem with the annoying 1% rule for the 868Mhz band in the MAX Cul.

At the time where i used FHEM i patched it out of my culs firmware...else the programming process for the devices via the cul can consume

[2016-04-26 07:01] sebastianha commented on #7
Plugin Config:

[code]

Device Config:

[code]

As far as I remember I also removed the 1% restriction from my Arduino-Cul-Stick.

I only see the first request for pairing then nothing more is visible in the log.

[2016-04-27 11:08] fbeek commented on #7
Hi,

on first sight everything looks fine with your config.

Did you a hardreset or softreset (only battery) of you thermostat?
Do you have a FHEM instance running in the background?
With that i had the same problems.

Is your debug mode enabled?

[2016-04-27 11:24] sebastianha commented on #7
Hi,

I did a hard reset (inserting batteries while pressing all three buttons)
Currently there is no FHEM running
Debug mode is enabled, there I saw the pairing message.

But at the end there are no more messages.

I am using an Arduino CUL, perhaps I need to reflash it.

Which thermostat versions are you using? I have 1.6 and 1.8 here.

[2016-04-28 19:01] sebastianha commented on #7
I did some more research and also tried another nanoCul Stick but with the same result. I only get the first pairing message and nothing more.

I personally think that the stick does not send anything out but I need to verify this.

One thing I noticed is, that the arduino needs some time to initialize, so I added a timeout after opening the serial connection.

Do you have any idea what could be w

[2016-04-28 19:16] fbeek commented on #7
Hey.

thank you for your informations.

I have both versions of the thermostats. And CUL firmware 1.6 with auto ack feature.

Unfortunaly i can first investigate this any further in the next week.

But the problem colan be the init part of the Cul.

[2016-04-28 19:19] sebastianha commented on #7
Thanks for looking at it.

I will also try to investigate the problem.

[2016-04-29 07:43] sebastianha commented on #7
Do I have to enable the auto ack feature of the cul stick manually?

If there is some time I will try to pair the thermostat with fhem first and then test it with the pimatic plugin. Perhaps there is some problem with the pairing process.

[2016-04-29 07:52] fbeek commented on #7
No, the maxcul driver will handle this for you.

After my last release i paired 4 Shutters and 4 thermostats without any problems from the hard reset state because of problems with my base id (they were different on dev an production system).

Is your stick an original Busware Stick or a copy? With some AVR USB devices i have had problems in the past if there where connected to the Rpi USB Ports.

[2016-04-29 07:54] sebastianha commented on #7
I have an self-assembled Arduino + CC1101 "stick".

It worked fine with FHEM

[2016-04-29 19:37] sebastianha commented on #7
...everything my fault, please forgive me.

I did a reset of the device but also a manual pairing was needed by holding down the boost-button for a longer time. I totally forgot about this...

Now it's working, keep up the great work!

[2016-04-29 19:37] #7 closed, assigned to fbeek

[2016-04-29 21:54] fbeek commented on #7
No Problem :-)

Thank you, and if you have another problem, please don't hesitate to contact me

[2016-08-14 21:24] w00dst0ck opened #9 "Kann unter pimatic 0.9 nicht installiert werden"
Habe einen Raspberry Pi 3 mit Raspbian im Einsatz und kann das Plugin nicht installieren.
Im Pimatic Log findet sich folgender Eintrag:
`[pimatic]: Error installing plugin pimatic-maxcul: Error running "./node_modules/pimatic/ppm.js install pimatic-maxcul@0.4.1 --unsafe-perm"`

Beim manuellen Installieren über NPM gibt es Meldungen über Probleme mit dem hipack package.

`$ sudo npm install --unsaf

[2016-08-15 05:23] fbeek commented on #9
Hallo,

leider ist pimatic-maxcul noch nicht 0.9 kompatible.
Ich arbeite momentan erst noch an einer neuen Treiberschicht für das CUL Modul.

Im Anschluss daran, werde ich mit der Umsetzung des 0.9 Supports beginnen. Bis zur Fertigatellung des 0.9 Supports wird es wohl noch 2 Monate dauern.

MFG

fbeek

[2016-10-13 20:05] w00dst0ck commented on #9
Könnte dies eine Alternative zu hipack sein?
http://locutus.io/php/misc/pack/

[2016-10-13 20:09] fbeek commented on #9
Hey,

Danke für die Info. Ich habe gerade eine alternative implementiert, mit binary-parser und ein bisschen node Magie :-D

Werde das jetzt noch genauer testen und dann Morgen ein Update für die 0.8er Version von Pimatic bereitstellen. Ich hoffe in der nächsten Woche den 0.9 Support freigeben zu können.

Danke nochmal für deine Info.

[2016-10-14 08:16] fbeek opened #10 "Problem with HiPack dependency"
The NPM Module 'Hipack' is no longer supported and breaks the instal process of pimatic-maxcul under node.js > 0.10.45

[2016-10-14 08:17] fbeek commented on #10
Fixed with version 0.5.2

[2016-10-14 08:17] #10 closed, assigned to fbeek

[2016-10-14 13:22] fbeek commented on #9
Die neue Version mit 0.9 Kompatibilität wurde released . Sollte es noch weitere Probleme geben erstelle bitte einfach ein neues Ticket.

[2016-10-14 13:22] #9 closed, assigned to fbeek

[2016-10-15 15:25] fbeek commented on #2
Because of the ACK Handling in the CUL Stick we cant implement this feature in the moment.

[2016-10-15 15:25] #2 closed, assigned to fbeek

[2016-10-17 21:03] danielboe opened #11 "not conecting right in pimatic 0.9"
i get the following debug on startup:
21:00:39.724 [pimatic-maxcul] info: Timeout on CUL connect, cul is available but not responding
21:00:40.092 [pimatic-maxcul] info: CUL FW Version: V 1.66 nanoCUL868
after that I can´t receive any debug if I pair devices. Also after a while I get
20:58:03.950 [pimatic-maxcul] info: CUL FW Version: LOVF

hope this helps for the 0.9 release.

thanks

Daniel

[2016-10-18 13:53] fbeek commented on #11
Hello Daniel,

which version of the plugin have you installed ?
The latest 0.9x?
What machine are you using(RPi 1,2,3 etc.)

I have changed the timeouts for 0.9 because of an race condition while starting pimatic.
This is only a workaround but it worked for me.

Have you added the devices to the configuration after pairing and restarted pimatic ? At the moment the plugin does not support autodisco

[2016-10-21 05:42] S7EN opened #12 "Battery status shows only 0"

[2016-10-21 05:46] S7EN opened #13 "Measured temperature refresh not working"
The measured temperature does not change automatically. Sometimes, after hours, when i press a comfy or off button it changes but not automatically.

[2016-10-21 06:25] fbeek commented on #13
This is correct. The devices send their temp only if a button is pressed or settings have changed to save power. Only if they where connected to a Wallthermostat they send there Data every hour. For a continues measurement we need to implement a fake Wallthermostat and connect this to the devices.

[2016-10-21 06:30] fbeek commented on #12
Do you have a device with an empty battery?
They send 0 if the battery is ok and 1 if the battery is low.
They do not measure the voltage.

It is only a boolean value if the battery is ok or not (in the Specs the data fields name is "battery low" so 0 is correct if everything is fine)

[2016-10-21 06:30] fbeek commented on #12
Do you have a device with an empty battery?
They send 0 if the battery is ok and 1 if the battery is low.
They do not measure the voltage.

It is only a boolean value if the battery is ok or not (in the Specs the data fields name is "battery low" so 0 is correct if everything is fine)

[2016-10-21 09:49] S7EN commented on #12
Okay, at first Installation the device showed "Ok" for Battery. After a while it showed the 0 and I thought this is a bug.

[2016-10-21 10:19] fbeek commented on #12
Ah ok there could be a problem with the lable in the pimatic frontend not with the data. I will check this.

[2016-10-24 15:00] fbeek commented on #11
With the latest version i cannot reproduce the error and so i will close this issue.

[2016-10-24 15:00] #11 closed, assigned to nobody

[2016-10-28 00:22] pjchx opened #14 "no response / how to pair ?"
Hello,
I have a rpi2+CUL v3 + MaxWandThermostat.

When trying to command the Thermostat from Pimatic I get error about No response. (see below)
How do I pair the CUL with the Thermostat in Pimatic ?  I knew how to do it in FHEM, but not sure about the Pimatic....
thanks for response
Pjchx

00:12:19.112 [pimatic] Starting pimatic version 0.9.34
00:12:19.589 [pimatic] Invalid config: Missing propert

[2016-10-28 06:13] fbeek commented on #14
Hello,

do you mean the WallThermostat with Display or the Heatingthermostat?

 As you can see in the Readme the WallThermostat and the WallButton where currently not supportet. I doesn't own one off this devices so i cant implement the function in the moment.

Normally the Pairing is simple. You just activate it in de plugin config as said in the readme, restart pimatic, Push the pairbutton on th

[2016-10-28 08:19] pjchx commented on #14
Hello, thanks for a quick response.

I mean  this WallThermostat
http://www.elv.de/max-wandthermostat-arr-bausatz-1.html

Also I try to implement use of this button:
http://www.elv.de/elv-max-wandtaster-eco-arr-bausatz.html

If these are not supported now -  is there a chance that it will work at
all (for example only some features) ?

Also I can participate on implementing these new units - but I

[2016-10-28 09:19] fbeek commented on #14
Unfortunately these two devices are not supported at the moment.

The problem is not the implementation on node.js / Pimatic.
Every MAX! Device supports a special set of instructions and every command in the network has a special payload encoding. Without a Device a can't reverse engineer the payload protocol.

I can reverse engineer some basic from the FHEM software but without a test device it i

[2016-11-08 09:08] fbeek commented on #14
I close this because of missing feedback.

[2016-11-08 09:08] #14 closed, assigned to fbeek

[2016-11-25 10:05] fbeek commented on #12
This is fixed in v0.9.5

[2016-12-18 20:07] xCite1986 opened #17 ""(intermediate value)(...).catch is not a function" error"
by pressing the button “auto”, “manu” or “boost” i get an error:
https://usercontent.pimatic.org/1db2b56b380ae70cf2ba923fcb2e9f485d9d07d1/687474703a2f2f7777772e796f7573637265656e2e64652f736a6f64697862677331312e6a7067

https://forum.pimatic.org/topic/2483/pimatic-maxcul-and-max-cube-with-aculfw-acting-as-cul/21

[2016-12-20 20:35] S7EN opened #18 "Can not get device ID in Debug Mode"
i tried a few times but nothing happens in the logs when i enable debug mode in the plugin and try to pair the device. How can i get the device ID's?

[2016-12-20 20:42] fbeek commented on #18
Have you restarted Pimatic after enabling the debug mode?  And have you enabled the maxcul or the pimatic debugging?
Have you activated the debug messages in the log view?

I have tested it here 10 minutes ago with the last master state.

[2016-12-21 04:46] S7EN commented on #18
I restartet pimatic and then it worked. Thank you! Maybe you can write this in your Readme?

[2016-12-21 06:02] #18 closed, assigned to fbeek

[2016-12-27 20:08] S7EN opened #19 "Heating Thermosthats does not show in third party apps"
I mailed with the developer of "PimaticDroid" which is currently the best third party app for pimatic on the market. Everything works fine except my heating thermostats. The developer sais you don't use de default pimatic template with your plugin and thats why it does not show um in his app. Could you use it instead of your own template?

[2016-12-27 20:24] fbeek commented on #19
No i can't use this template because of a special handling of the mode buttons and there is no possibility to show the config button without this.

At the moment there is no possibility to change this.

[2016-12-27 20:24] #19 closed, assigned to nobody

[2017-01-05 09:22] medolino2009 opened #20 "measurementOffset not working"
Changing value of measurementOffset is doing nothing... my temp is meassured about 2 C to high... i tried to correct this with measurementOffset -2 , but no change....

[2017-01-05 09:25] medolino2009 commented on #13
yo can make rule that automatically changes value... something like this...

set temp of woonkamer-thermostaat to $woonkamer-thermostaat.temperatureSetpoint +1°C and after 2 minutes set temp of woonkamer-thermostaat to $woonkamer-thermostaat.temperatureSetpoint -1°C

[2017-01-05 09:30] fbeek commented on #20
Yes that is correct, as you can see in the code [Link](https://github.com/fbeek/pimatic-maxcul/blob/master/max-driver.coffee#L362) this is not supported at the moment, i will add this to the ToDo List and try to fix this in the next two weeks.

[2017-01-05 09:39] medolino2009 commented on #20
wow amazing... thanx for such a fast reaction. Best regards

[2017-01-05 09:40] fbeek commented on #20
No problem :-)

Best Regards.

[2017-01-05 13:10] fbeek commented on #20
Did you use the "transfer config" button to transfer the offset from the settings to the device itself? This is already implemented since a few month and should work.

I am working on it so stay tuned.

[2017-01-05 13:15] fbeek commented on #20
Here where some additional information for the offset handling, only for interest and documentation:

If the internal temperature sensor is not well calibrated, it may produce a systematic error. Using measurementOffset, this error can be compensated. The reading temperature is equal to the measured temperature at sensor + measurementOffset. Usually, the internally measured temperature is a bit hi

[2017-01-05 13:35] medolino2009 commented on #20
i just tried .... i get this error: received unknown data: LENERR

[2017-01-05 13:39] medolino2009 commented on #20
it's working.... i set -1.1 and not -1 first time...that's why i got error.... it works great... Can i remove config button when i change offset or button must stay here ? is this config inside of thermostat until it gets reset ?

[2017-01-11 06:25] S7EN opened #21 "After Pimatic update no response"
After Pimatic update every heating thermostat gives no response. I have to use them manually.

[2017-01-11 06:46] fbeek commented on #20
Morning,

Yes you can disable the Button. The config is saved im the thermostat.

If you have any further problems please contact me.

Kind Regards

[2017-01-11 06:46] #20 closed, assigned to fbeek

[2017-01-11 06:51] fbeek commented on #21
Mh that is strange.I updated yesterday and everything is working here. I checked the pimatic changes and there is no code that has anything todo with the plugin. So this cannot breake anything.

I will check the plugin another time but at the moment i cant  see anything wrong except your setup.

Have you any additional informations for me? Only with the info that it is not working i can not debbug

[2017-01-11 06:55] fbeek commented on #17
Hello. Sorry this is still work in progress but iam working on it

[2017-01-11 08:33] S7EN commented on #21
I tried reboot pimatic and pi itself but nothing happened. Next try is to pair the devices again and see what happens.

[2017-01-11 08:35] S7EN commented on #21
info [pimatic-maxcul]: Paket 0b01004000F0FF12f06e006c send but no response

This is the error, and unfortunately the LOVF Error pops up after two tries.

[2017-01-11 08:57] fbeek commented on #21
Do you have ShutterContacts ?
Do they work on change?

Since you get the LOVF message the cul ist sending so there should be no problem with the plugin, because the codebase is the same and the pimatic update changes NOTHING that could interfere with the plugin and vice versa.

I think you have some other problem.
Have you implemented rules (like mentioned in an other issue) to check the thermosta

[2017-01-12 18:42] S7EN commented on #21
Hi, i do not have shutter contacts and rules. When i manually change the temperature of the thermostats, the temperature set point is given to pimatic but when i try to change the temperature in pimatic, i always get the not response error :(

[2017-01-14 09:42] S7EN commented on #21
Here is a Debug Log when I try to reconnect one single thermostat.

Protokolle
Debug, Info, Warn, Error
4

All

Showing 38 of 0 Messages
2017-01-14 10:40:25debug [pimatic-maxcul]: no packet to handle in send queue
10:40:25info [pimatic-maxcul]: Paket 0f01040300F0FF12f06e00110e0a284d send but no response!
10:40:22info [pimatic-maxcul]: received unknown data: LOVF
10:40:22debug [pimatic-maxcul]: inc

[2017-01-15 08:07] S7EN commented on #13
i made a rule like this, but it does not work correctly at the moment. I receive LOFV Messages after the second thermostat.

if every 1 hour

set temp of Heizung Wohnzimmer Links to $heizung-wohnzimmer-links.temperatureSetpoint +1°C and after 30 seconds set temp of Heizung Wohnzimmer Rechts to $heizung-wohnzimmer-rechts.temperatureSetpoint +1°C and after 30 seconds set temp of Heizung Bad to $heiz

[2017-01-15 08:18] S7EN commented on #21
I solved it when i deleted the termostats and resetet them. After that i created them new in Pimatic.

[2017-01-16 09:27] fbeek commented on #13
As i said in an other issue the LOFV means that you are sending to many packets. You could reach this limit very easily with only a few Devices.

Look here for a detailed definition [Link](https://wiki.fhem.de/wiki/LOVF).
This is nothing that could be fixed by the Plugin, it is a rule given by law. The only possibility would be to change the message queue so that it saves the messages and retransm

[2017-01-16 09:30] fbeek commented on #21
I analyzed the problem and there is no problem on the code side. You have the same LOFV Problem as in the other issue. In the time you recreated the devices there is simply a new time slot for transmission available to this works only until you reached the limit again.

Here is the explanation copied from the other issue :

[2017-01-16 09:30] #21 closed, assigned to fbeek

[2017-01-29 13:03] sebastianha opened #22 "Support for emitting the same state of an ECO button"
I just added an ECO button to my setup and I noticed that when it is "open" and I press "auto" (which will set the state to "open") this signal is not emitted again. This is due to the nature of pimatic ContactSensors (see pimatic/lib/devices.coffee line 511).

For me it would make sense that the ECO button emits it's state when pushed regardless of the previous state. Imagine you have two rules:

[2017-01-30 09:30] fbeek commented on #22
Hello,

i will check this.
The only Problem is that i didn't have implemented this feature, i do not use the Eco Button and do not own anyone for testing.

[2017-02-11 21:00] minus14 opened #23 "TypeError: undefined is not a function"
Seems to be related to maxcul :

    at MaxDriver.handleIncommingMessage (/home/pi/pimatic-app/node_modules/pimatic-maxcul/max-driver.coffee:113:13)
    at CommunicationServiceLayer.<anonymous> (/home/pi/pimatic-app/node_modules/pimatic-maxcul/max-driver.coffee:40:10)
    at emitOne (events.js:96:13)
    at CommunicationServiceLayer.emit (events.js:188:7)
    at SerialPort.<anonymous> (/home/pi/pi

[2017-06-26 08:16] #13 closed, assigned to fbeek

[2017-07-25 15:07] georg90 commented on #12
@fbeek I have a question for this one. In my installation the heating thermostats show ok/low just fine. However the contact sensors will show "ok" in the fronend, but the attribute will be 0 - So not too sure how to handle those in rules. Is it 0 or ok now? :)

Example:
![grafik](https://user-images.githubusercontent.com/6489464/28578987-994e4220-715b-11e7-95c1-19ed99d559d7.png)
![grafik](https:/

[2017-07-26 07:28] fbeek commented on #12
Hello,

the bytes name in the protocol is "batterylow" so it is 1 if the battery is empty. So if you read 0 the battery should be ok.

[2017-07-26 09:26] georg90 commented on #12
I understand why it's 0, but I find it inconsistent to have it transformed in the frontend to ok, but use 0 in rules / in the variable. So it should be consistent with the implementation for the heating thermostats, doesn't it?

[2017-07-31 08:39] fbeek commented on #12
Yes your are right, i will change the behavior to be consistent for all devices.

[2017-07-31 08:39] fbeek commented on #12
Reopened for enhancement.

[2017-07-31 08:42] georg90 commented on #12
Thanks for taking care of this. It's a minor issue, but probably prevents some more issues coming in "Why is my rule not working.." ;-)

Keep up the good work!

[2017-09-29 18:46] fbeek commented on #23
I could not comprehend the bug but a added an error handler to the function so that there is a log message an pimatic should not crash.

[2017-09-29 18:46] #23 closed, assigned to fbeek

[2017-09-29 22:08] fbeek commented on #17
This bug is now fixed in version 0.9.6

[2017-09-29 22:08] #17 closed, assigned to fbeek

[2017-10-22 19:50] Rootie opened #25 "Respect ISM band 1% rule"
The maxcul plugin should "resend" a packet when it receives a "LOVF" response from the cul device.

I started implementing this here:
[handle limit overflow](https://github.com/Rootie/pimatic-maxcul/pull/1)

I think the code for the server side works fine.

But on the client side the ajax request can run into a timeout.

A Possible solution would be to use an infinite timeout for the ajax request

[2017-10-23 07:58] fbeek commented on #25
Hello Rootie, thank you for your help.

I checked your server side code and it looks fine to me.
Your FE solution can work, but I think an ajax request without an timeout and without user feedback is no good solution.

It takes up to 45 minutes until the next transmit slot is available, so the user thinks the command is send successfully but when the user checks the device there is no change, this

[2017-10-27 18:38] Rootie commented on #25
Well I am aware that this is not the "optimal" solution. But I think it is better than the current situation.
Let's compare how the plugin reacts to the limit overflow:

### Current situation:
Server side tries to send the packet 3 times and then shows a client error:
[code]
The error message is not really true because the packet is not really sent.
Also it is not reliable. For example setting a t

[2017-10-27 18:51] fbeek commented on #25
yeah, ok you are right this is better than nothing.

I patched my module, so i had no problems with this.

If you do the changes i will merge them und make an new release.

[2017-10-28 13:11] Rootie commented on #25
i created a pull request #26 with the changes

[2017-10-29 13:32] dasmaetthes opened #27 "Max! Thermostat Basic auto mode"
Hallo,
I'm using the Max! Thermostat Basic in auto mode.
The thermostat switches from eco to comfort mode each day at 6:00 AM even I have defined no rule for that.
Can it be some default factory settings on thermostat itself? And how could I change it?

[2017-10-29 17:32] fbeek commented on #27
Hello,
The modules have a default factory program.

Until now there is now way via maxcul to change the default programm and we do not plan to support the auto mode, because the protocol to transport the week programs is very complex an we have no user friendly option to support this in the pimatic gui.

Every known user has implemented there weekprograms via pimatic rules, this is the easiest way

[2017-10-29 17:32] #27 closed, assigned to fbeek

[2017-10-29 17:37] fbeek commented on #25
Thank you for your help, i merged your pull request and published a new version

[2017-10-29 17:37] #25 closed, assigned to nobody

[2017-10-29 18:12] dasmaetthes commented on #27
Thank you,

I didn't know so far that with pimatic it would work also in manuel mode.
Then the problem is solved.

[2018-01-12 23:27] TheBooley opened #30 "Where to find version 1.0.0?"
Last version according to the readme is v1.0.0.
package.json says v.0.9.7.
Installing maxcul out of pimatic results in v0.9.8.

I am a bit confused. Can you help? =)

[2018-01-12 23:38] fbeek commented on #30
The Version 1.0.0 is not released, we are preparing it for release so 0.9.8 i correct at the moment.

[2018-01-12 23:38] #30 closed, assigned to nobody

[2018-01-14 16:08] fbeek commented on #12
Should be fixed with v1.0.0

[2018-01-14 16:08] #12 closed, assigned to fbeek

[2018-01-14 16:08] fbeek commented on #22
Should be fixed with v1.0.0

[2018-01-14 16:08] #22 closed, assigned to fbeek

[2018-02-15 12:26] infusion opened #31 "BitSet.js update"
Hi,

I'm the author of the bitset.js library you use. I just got the shorter npm name "bitset" instead of "bitset.js". The latter is now deprecated. Could you please update your dependencies?

Thanks and sorry for any inconveniences
Robert

[2018-02-16 22:24] fbeek commented on #31
Hello Robert,

thank you for the information.
I updated the dependencies with the new version.

Regards
Florian

[2018-02-16 22:24] #31 closed, assigned to fbeek

[2018-02-18 12:26] mwittig commented on #31
Well, some more changes are required, see my PR #32

[2018-02-19 07:43] S7EN opened #33 "info [pimatic-maxcul]: Error in handleIncommingMessage Function, command : ThermostatState, error: TypeError: rawBitData.getRange is not a function"
Hi,

when i try to control my thermostats i always get this error and nothing changed. I can't control them yet because of this.

info [pimatic-maxcul]: Error in handleIncommingMessage Function, command : ThermostatState, error: TypeError: rawBitData.getRange is not a function

[2018-02-19 08:44] fbeek commented on #33
Hello,

thanks for the info.
I already fixed the issue and version v1.0.3 is now available.

[2018-02-19 08:44] #33 closed, assigned to fbeek

[2018-02-20 17:17] Hansjshx opened #34 "Max Thermostats switch to Auto"
Some of my Max Thermostats switch to Auto without a reason. Works as it should for a couple of days, then some of them switch back to Auto. I use them with Chronotherm.

[2018-02-20 19:33] S7EN commented on #34
i have the same problem. It switches randomly and sometimes when i switch manually to eco or comfy nothing happens.

[2018-02-20 19:43] fbeek commented on #34
I have found anorher error in combination with the bitset library, i will release a fixed version tomorrow.

[2018-02-20 19:54] S7EN commented on #34
thank you for your work :)

[2018-02-20 20:20] fbeek commented on #34
No problem :)

[2018-02-20 20:52] Apollon77 opened #35 "Upgrade to Serialport 6.0.x ?!"
You use a quite old version of serialport ... The most current version has much better on compile and such.

In Theory it's only that the ReadLine-parser needs to be handled differently and the options on Serialport init nees to be camel case

[2018-02-20 21:05] fbeek commented on #35
Thank you for your message.

At the moment i do not plan to upgrade the version until pimatic is prepared for node 8.
Such an upgrade would need a lot off testing because it is a base component of the plugin and it is a  little bit sensitive.

At the moment there is no time and no need for such a big task and it is working nicely with the actual version.

As the motto says "Never touch a running s

[2018-02-20 21:05] #35 closed, assigned to nobody

[2018-02-21 09:28] fbeek commented on #34
Should be fixed with v1.0.4

[2018-02-21 09:28] #34 closed, assigned to fbeek

[2018-02-22 10:42] mabe1983 opened #36 "Max Wall-Thermostat switch not back to temperatureSetpoint when closing the shutter contact"
I have in one room a Max wall thermostat, a thermostat and two window contacts. All devices are linked (the thermostat with wall thermostat and the window contacts, the wall thermostat with the thermostat and the window contacts, and the window contacts with the thermostat and the wall thermostat). When I open a window, the display on the wall thermostat and thermostat shows the window open symbol

[2018-02-22 10:45] fbeek commented on #36
I am sorry but i cannot analyze this at the moment because i do not own or use a wall thermostat.

Eventually @treban can help here?

[2018-02-25 23:05] treban commented on #36
I only have a wall thermostat and use fake window sensors. But i have a similar problem with
one wall thermostat.

this thermostat has been remained switched off sometime after a window event and
then also turned off the heating after a short time.

I found out that it only happens when the window open temperature is not the same as the wall thermostat. so I didn't notice it at the beginning, beca

[2018-02-26 12:17] mabe1983 commented on #36
Thank you @treban,
that was the solution for the problem. I also adjusted the code and added the "windowOpenTemperature" in the device schema and now it works.

[2018-02-26 13:02] treban commented on #36
You're welcome.

[2018-03-04 15:25] #36 closed, assigned to nobody

[2018-03-04 15:28] fbeek commented on #36
Thanks @treban for your research and the solution.
I added the option and released v1.0.6

[2018-03-09 20:37] maufl opened #37 "Possible error in PushButtonState"
I think I discovered an error in decoding the push button message.
[code]
As far as I can see it in the FHEM implementation, the indexes should into the second byte, not from the start of the payload.

[2018-03-30 19:31] Jeason1598 opened #38 "Pairing is disabled"
I have some troubles with the Maxcul - Plugin, i can discover a new Device but it's not really working. It cannot send Data to the Max!Heating Thermostat.
When i press the Boost - Button, it writes to me that pairing is disabled
![maxcul](https://user-images.githubusercontent.com/37940582/38150966-a6157da6-3461-11e8-8fed-f92e35daf36b.PNG)
Device looks like it is not loaded
![maxcul2](https://user-

[2018-03-30 21:23] fbeek commented on #38
Hello,
I have tested the pair mode a few minutes ago and it works as expected and written in the readme.
The message in your log says that the device is trying to pair with Pimatic but device discovery is not active. Have you saved the discovered devices? I mean opened it and saved the settings? The Discovery mode of Pimatic shows the devices only but does nothing more.

As this is not a bug, but

[2018-03-30 21:23] #38 closed, assigned to fbeek

[2018-08-05 08:40] dasmaetthes commented on #13
I have seen you implemented a fake wall thermostat. I wanted to use it to get each hour the current temperature of my device. But for the device and the fake wall thermostat device it shows me only the reference temperature I set up. Is it still not possible to get a continues measurement?

[2018-09-28 09:38] eq06belu opened #39 "Is it possible to indicate actual temperature on wallthermostat display?"
Hello,
I just started using pimatic-maxcul with my home automation system. First of all, many thanks for that great work of all developers involved in this project!
Everything works quite fine but when I bind my Max! wall thermostats, I cannot enter the configuration mode on the devices anymore. That is nothing new and ok so far. But until now (I was using the original MaxCube and the Windows Appl

[2018-09-30 19:37] Unkn0wn-MDCLXIV opened #40 "Window Sensor support"
Is it possible to support the Max! Window sensors?

[2018-09-30 19:57] fbeek commented on #40
Please read the Readme, they are already supported.

[2018-09-30 19:57] #40 closed, assigned to nobody

[2018-10-21 20:12] Speedymax02 opened #41 "Get errors when adjusting the temperature"
Hello,
I'm using this nanoCUL: https://www.ebay.de/itm/nanoCUL-USB-Stick-FTDI-CC1101-868MHz-FW-1-67-SMA-Knick-Antenne-FHEM-CUL-868-/372206264709
I set the application in debug mode and looked for the thermostat from the device site. I put the thermostat in the pairing mode. However, Pimatic could not find anything. I tried this with different thermostats.
What am I doing wrong?
Best regards

[2018-10-22 10:04] fbeek commented on #41
Hello,

do you have configured the correct serial port in the plugin? Or multiple usb to uart devices?

Best regards

[2018-10-22 13:00] Speedymax02 commented on #41
Hello,

thank you for your answer. I configured the plugin correct:
serial port: /dev/serial/by-path/platform-20980000.usb-usb-0:1.4:1.0-port0
I tried the CUL with my Windows computer, it was working. What other things can I do?

Best regards

[2018-10-31 14:03] snowdej commented on #41
hi

mine only worked using /dev/ttyUSB0

I did clone my max cube address too so I did not have to pair them with a reset

jools

[2018-11-05 19:21] Speedymax02 commented on #41
Hi,

many thanks for your help.

I tried the plugin again under pimatic 0.9.42 here it finds my thermostats. Now I have the problem that, no matter which thermostat, I always get the following error messages when I try, for example, to change the temperature:

`2018-11-05 20:13:40 info [pimatic-maxcul]: Paket 0f0104401234560ae772wohnzimmer62 send but no response!`
`20:13:37 info [pimatic-maxcul]:

[2018-11-09 08:50] fbeek commented on #41
Hi,

as you can see in the logging message there is something wrong with the packet that will be send.
0f0104401234560ae772wohnzimmer62 is not a valid packet.

The string "wohnzimmer" is not correct here as the packet should only contain hexadecimal character.
I think you have configured something wrong with the device ids.

Can you please provide your configuration for the device and the plugin i

[2018-11-09 08:54] fbeek commented on #37
I have no pushbutton, so i can't validate the error.
But for the other devices the battery field is working correctly.

We need to analyze this further on protocol side.

[2018-11-25 07:41] #41 closed, assigned to nobody

[2019-01-16 16:56] Unkn0wn-MDCLXIV opened #42 "Could not parse expression on FakeWallThermostat"
When i'm creating or editing a FakeWallThermostat, it outputs the following error:

`error [pimatic-maxcul]: Error on device 222222: Could not parse expression`

[2019-01-17 11:05] treban commented on #42
probably the parameter    **refTemp**   is not valid.

the example ist "$tempsensor.temperature"

refTemp must be set to a **valid variable**
-> This is designed to use a real temperature variable.

[2019-02-28 12:47] mwittig commented on #20
My suggestion is to add this to README

[2019-02-28 12:49] mwittig commented on #20
@fbeek Can you clarify this, please? Why is -1 not working? Having reviewed your code it should make no difference.

See also https://forum.pimatic.org/topic/4559/maxcul-measurementoffset-without-effect

[2019-04-16 10:56] #42 closed, assigned to nobody

[2019-04-16 10:57] fbeek commented on #39
Hello Lukas,

sorry for the late response.
We are working on this.

Regards

[2019-06-05 12:59] fbeek commented on #20
Hello @mwittig,

sorry for my late answer, i have not seen your request.
I will add the info to the readme.

I will check why -1 is not working.

Regards

[2019-07-18 09:25] eq06belu opened #43 "Max! Device communication problems since update to 1.1.0"
Communication with Max! devices (wall thermostats and window contacts) does not work (stable) anymore. I have this issue since I have updated to version 1.1.0.
At the beginning, I was able to solve the problem temporarily by manually installing version 1.0.7 but since I have also updated to the latest pimatic version (0.9.50) this does not work anymore.
I am using a pre-build nanoCUL with FTDI and

[2019-07-18 10:01] fbeek commented on #43
Hello,

thank you for your detailed response on this error. In my live system and my testing system i cannot reproduce any error at the moment. I will try to decode your messages by hand in the evening and will check the responses. The good news is that it is not an isseue with the usb serial communication.

I will check this and come back to you with the result.

Regards
fbeek

[2019-07-18 11:57] fbeek commented on #43
Hey,

i decoded you messages from the log with my test script and these where fine.
One thing that can be a problem is the missing CUL Version information in your log.

Can you please flash your cul with Version 1.61 and give it another try? There where many changes in the firmware that can possibly make problems.

Regards
fbeek

[2019-07-23 14:51] eq06belu commented on #43
Hello,

I have flashed the last revision of 1.61 of culfw (r469 from sourceforge) to my nanoCUL.
Unfortunately, I cannot observe an improvement in behavior.

I run out of ideas in how to get it working again.

Can you help me going back to version 1.0.7 of pimatic-maxcul?
Whenever I try to do so with
`sudo npm install pimatic-maxcul@1.0.7 --unsafe-perm`
, I get a lot of errors during installation.

[2019-07-23 16:55] fbeek commented on #43
Hello Lukas,

ok that is not good but if we work together we will find a solution before the next winter :-)

Please keep in mind that Version 1.0.7 will not work with a node version higher as 4.6.x and 1.1.0 will not work under node version 10.16.x.

In emergency it is the easiest way to make a fresh pimatic installation on the old node version and after first start delete the maxcul folder in no

[2019-07-23 19:21] eq06belu commented on #43
Hello,

many thanks for your fast replies!

My node.js version is also 10.16.0.
So at least now I got the reason why I cannot "downgrade". Thanks for the hint!

I am using raspbian 9.9 (stretch) . Maybe this makes the difference?

With one or two of my wall thermostats, I have tried to make a hard reset and pair them again (to solve this problem after update). This did not work. I think, those hav

[2019-07-28 17:38] fbeek commented on #43
Hello Lukas,

thank you for your reply.
I think Stretch is the Problem.

But at the moment i do not know why, there where some issues with Stretch and the node serial port module.

I am still investigating the problem.
I think until the end of the week a have new informations on  this.

BR, Florian

[2019-08-05 13:12] smarthomeagentur opened #44 "Loop with wrong Response"
I get a send-loop if the response from the cul-stick is not valid.
https://pastebin.com/D0V4Qgx0
There should be a limit of re-sending I think. The Thermostat works (sending to it) fine but the CC1101 Module from my stick is not able to receive (hardware issue I think). So the Plugin should be able to handle it.

[2019-08-05 13:19] smarthomeagentur commented on #43
Here is also a Log from me: https://pastebin.com/TVkjFdPk
The Stick worked with node 4 and before 1.1.0. I think its the same behavior. If more logs are needed please ask!

[2019-08-05 13:24] fbeek commented on #44
Your CUL is sending a LOVF Message, this means it has reaches it transmit limit and has not send any package.
If the plugins gets this it leaves the message in the queue for later transmission when the cul has new send credits available. So no message gets lost. Please look in the other closed Issues or the readme for the 868MHz Band 1% transmit limit in the EU.

Would your cul aknowlege the send

[2019-08-05 13:24] #44 closed, assigned to nobody

[2019-08-05 13:26] fbeek commented on #43
Thank you for your reply.

 Iam still working on this and it looks like a problem in Stretch and the new Node Version.

[2019-08-07 06:58] eq06belu commented on #43
Hello,

first of all, I want to thank you all for putting so much effort in making this great setup working again!
I have some news from my system:
Some days ago, I tried to make some updates of my raspian system with:
`sudo ap-get update`, `sudo apt-get upgrade` and `sudo apt-get dist-upgrade`.
At the beginning it seemed like nothing has changed, but I saw some updates concerning node-modules bee

[2019-08-12 07:57] fbeek commented on #43
Hello Lukas,

yes i can confirm this. I have tested it with a fresh installed Raspian and after an Update everything works fine.

I will close the ticket for now.

Best Regards
Florian

[2019-08-13 07:11] eq06belu commented on #43
Hello Florian,

I am not sure if this issue should be closed already... (Sorry!)

In my configuration the communication is still not working as soon as I activate debugging.
I also noticed that the communication gets stuck as soon as I try to set some values (e.g. temperature setpoint). So receiving messages seems to work when debugging is disabled but stops working when trying to send messages vi

[2019-08-15 15:37] treban commented on #43
HI Florian,

i have the same problem. But only sometimes.
with screen on the usb port directly i always get the cul interface.

After some restarts of pimatic/plugin the connection works, until i restart.
then after some restart its working again.

HOST: amd64 plattform
OS: Ubuntu 18.04.3 LTS
Pimatic running as **docker**
pimatic version 0.9.50
Node.js version 10.16.0
OpenSSL version 1.1.1b
pimati

[2019-08-17 23:26] fbeek commented on #43
Hello Kosta,
thank you for your data.
Iam this week on vacation but on the next weekend I will dig deeper Into this problem.
At the moment i think there is some problem with stretch and the new serial port version.

Best Regards
Flo

[2019-08-18 06:00] treban commented on #43
Hi Flo,
No stress. I am also on vacation next week and until winter is still time.
BR
Kosta

[2019-09-25 09:20] fbeek commented on #43
Hello Guys,

I want to let you know that I am Still working on this.
I had some problems with my development rig so i lost some time.

But I am on it now with a new pi 4 :-)

BG
Flo

[2019-10-08 18:24] MaxWinterstein commented on #43
Hi Flo,

keep up the good work - its getting cold here these days ;)

Same issue for me here, disabling debugging seems to work - at least for now.

[code]

[2019-10-12 18:34] fbeek commented on #43
Hello Together,

i give my best :-D

@MaxWinterstein: So the error is gone on your system if you disable the debugging mode of the plugin and are you using Ubuntu on an raspberry pi or on an normal system?

[2019-11-25 22:07] MaxWinterstein commented on #43
So, this still bugs me.

Disable debugging mode does not lead the a big change for me.
At least sending temperatures seems to work, but also window sensors struggle badly to do their jobs...

I tried using Node.js 10.16.0 but that does not get my any further.

I switched to docker based pimatic as installing node versions was a huge pain...

So, any update on this, or combination that should work

[2019-12-06 18:51] fbeek commented on #43
I have merged the pull request from Kosta.

On my testing rig it fixed the problem, so please update to v1.1.1.

[2019-12-06 18:51] #43 closed, assigned to fbeek

[2019-12-07 22:53] MaxWinterstein commented on #43
Holy Moly, this works fine for me!

Thank you @treban  - i was nearly going to throw all that stuff out of the window! Next beer is on me :)

Gruß aus Frankfurt

[2019-12-08 20:06] treban commented on #43
You're welcome. Thx for the beer ;) But you shouldn't have.

[2020-01-09 19:38] sleepinghead commented on #43
Hello all,

I am running the same problem, the plugin checks the Firmware Version but does not get any response from the nanocul. If I use "cutecom-ng" on my Macbook I get response by sending "V".

Looking for help. THX

**system**
aspberry pi 3
pimatic version 0.9.54
Node.js version 8.11.1
OpenSSL version 1.0.2l
pimatic-maxcul 1.1.1
hardware: nanoV3 with CC1101 868
Firmware: I tried 1.26.07 and 1